services:
  gptcrawler:
    build: .
    image: gptcrawler:latest
    container_name: gptcrawler
    network_mode: host
    volumes:
      - ./containerapp/data:/code/gpt-crawler/data
    environment:
      - API_PORT=8008
      - API_HOST=127.0.0.1
    restart: unless-stopped
    tty: true
